<div class="calendar calendar-yearly" id="calendar-yearly">
    <div class="">
        <h3 class="h5 m-0 font-weight-bold text-center">Janeiro</h3>

        <div month="0" class="calendar-yearly-month">

        </div>
    </div>
    <div class="">
        <h3 class="h5 m-0 font-weight-bold text-center">Fevereiro</h3>
        <div month="1" class="calendar-yearly-month">

        </div>
    </div>
    <div class="">
        <h3 class="h5 m-0 font-weight-bold text-center">Março</h3>
        <div month="2" class="calendar-yearly-month">

        </div>
    </div>
    <div class="">
        <h3 class="h5 m-0 font-weight-bold text-center">Abril</h3>
        <div month="3" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Maio</h3>
        <div month="4" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Junho</h3>
        <div month="5" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Julho</h3>
        <div month="6" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Agosto</h3>
        <div month="7" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Setembro</h3>
        <div month="8" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Outubro</h3>
        <div month="9" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Novembro</h3>
        <div month="10" class="calendar-yearly-month">

        </div>
    </div>
    <div class="mt-3">
        <h3 class="h5 m-0 font-weight-bold text-center">Dezembro</h3>
        <div month="11" class="calendar-yearly-month">

        </div>
    </div>
</div>