<header class="container-fluid pb-3 border-bottom fixed-top bg-white " style="margin-top: 56px; padding-top: 16px;">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-start">
            <div class="mr-3">
                <button class="btn" id="previous"><i class="fas fa-chevron-left"></i></button>
                <button class="btn border rounded px-2 font-weight-bold" id="today">Hoje</button>
                <button class="btn" id="next"><i class="fas fa-chevron-right"></i></button>
            </div>
            <h2 class="h4 m-0" id="curr-date">1 de agosto de 2022</h2>
        </div>

        <select name="" id="calendar-mode" class="form-control font-weight-bold" style="width: auto;">
            <option value="daily">Dia</option>
            <option title="Available soon!" value="weekly">Semana</option>
            <option title="Available soon!" value="monthly">Mês</option>
            <option title="Available soon!" value="yearly">Ano</option>
        </select>
    </div>
</header>