<div class="modal fade" id="showMoreSchedulings" tabindex="-1" aria-labelledby="showMoreSchedulingsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="showMoreSchedulingsTitle">
                    <!-- font-awesome clock icon -->
                    <i class="far fa-clock mr-2"></i>
                    Terça, 23 de junho de 2023, 17h
                </h5>
                <button onclick="close_show_more_schedulings_modal()" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="showMoreSchedulingsContent">
                <ul 
                    class="p-0 m-0" 
                    style="list-style: none;
                        overflow-y: auto;
                        max-height: 320px;">
                </ul>
            </div>
        </div>
    </div>
</div>