h5 {
    padding-top: 25px;
}

.download-item {
    border: 1px solid #F5F1F0;
    border-radius: 1px;
    padding: 5px;
}

.download-item-ext {
   margin: auto 0;
   text-align: center; 
}

.download-item-links {
    margin: auto 0;
}

.download-item-links p{
    color: #1a73e8;
    margin: 0;
}

.download-item-links a{
    color: #5f6368;
}

.progress {
    height: 15px;
}

.download-item-btns .col-2 {
    padding-left: 0;
}

.download-item-info {
    border: 1px solid  #F5F1F0;
    border-top: 0px;
}