*, ::after, ::before {
    box-sizing: border-box;
}

body {
    padding-top: 56px;
}

body > .navbar {
    background-color: #646464;
}

body > .navbar a {
    color: #ffffff;
}

.selected{
    background-color: pink;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}

#sidebar-container {
    min-height: 89vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

#sidebar-container .list-group .disabled {
    color: gray;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.list-group-item{
    background-color: #333 ;
}

.validation-icon{
    padding-left: 30%;
}

.sidemenu-items{
    padding-left: 0px !important;
}

.fa-warning{
    color: yellow;
}

.fa-check{
    color: #71ff3e;
}

.valid-button{
    background-color: green !important;
    color: white !important;
}

.list-group-mine .list-group-item-invalid{
    pointer-events: none;
    cursor: auto;
    color: #6c757d;
}

.list-group-mine .list-group-item-valid {
    background-color: green !important;
    color: white;
}

.list-group-mine .list-group-item-valid:hover {
    background-color: green !important;
    color: white;
}

.list-group-mine .list-group-item{
    background-color: #333;
    padding: 0.75rem 1.25rem 0.75rem 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.confimation-div{
    text-align: center;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.indented-subblock {
    padding-left: 20px;
}

/* Step styles -----------*/

.bg-iframe-execution-context {
    background-color: #CEE5D0;
}

.bg-tab-execution-context {
    background-color: #E8F6EF;
}

#dynamic-processing-item-wrap.disabled, #dynamic-processing-skip-errors.disabled, #dynamic-processing-browser-type.disabled, #dynamic-processing-resolution.disabled {
    opacity: .5;
    pointer-events: none;
}

.step-block {
    margin-top: 0em;
}

.step-config-parts {
    margin: 0px 10px 0px 10px;
    padding:0px;
}


div.step-config-select{
    display:inline-block;
    margin: 0em 1em 0em 2em;
    width: 12em;
}

#step_controler {
    margin-bottom: 1em;
}

.step-controler-buttons {
    margin-left: .5em;
    margin-right: .5em;
}

card .step{
  color: red;
}

.block-controler {
    z-index: 10;
}
.block-controler-interface {
    position: absolute;
    right:2.5%;
    top: -12.5px;
}
.block-controler-button {
    cursor: pointer;
    margin: 0em;
}

a.close, a.add_form {
    margin-right: 0;
    margin-top: -2rem;
    cursor: pointer;
}

.bordered-bottom-option {
    border-bottom: 1px solid #DCDCDC;
    padding-top: 0.75rem;
}

.antiblock-wrapper .form-group, #div_id_antiblock_reqs_per_user_agent {
    margin-bottom: 0;
}

.antiblock-wrapper .form-group input, .antiblock-wrapper .form-group label{
    cursor: pointer;
}
/* Collapse div */
.mycollapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.mycollapse-block {
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid #DCDCDC;
}

.myshow {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}
/* End collapse div */

/* Hide instances from large list */
.multinstancias.hidden {
    display: none;
}
#show_hide_instances::before {
    content: "<";
    transform: rotate(90deg);
    display: inline-block;
}
#show_hide_instances.hidden::before {
    transform: rotate(-90deg);
}
#show_hide_instances.focus, #show_hide_instances:focus {
    text-decoration: none;
}
/* End hide instances from large list */

/* Modal styles */
.modal-backdrop {
    opacity:0.5;
}
.form_detection_el {
    margin-left: 1em;
}
.form_indented {
    margin-left: 2em;
}
.form_field_label {
    margin-left: 0.25em;
}
/* End modal styles */

/* Screenshot pagination styles */

.paging_entry_arrow {
    margin-left: 0.25em;
}

.paging_entry_number {
    margin-left: 0.25em;
}
/* End screenshot pagination styles */

/* Crawler queue page */

.crawler-queue-active-tab-color {
    background-color: #646464;
}

.crawler-queue-switch-position {
    color: #6c757d;
}

.crawler-queue-switch-position:hover {
    color: #343a40;
}

.crawler-queue-remove-item {
    color: #6c757d;
}

.crawler-queue-remove-item:hover {
    color: #dc3545;
}

.crawler-queue-force-execution {
    color: #6c757d;
}

.crawler-queue-force-execution:hover {
    color: #28a745;
}

/* End crawler queue styles */

/* Popovers */
.popover-icon {filter:grayscale(1); padding: 0 0 0 3px;}
.popover-icon:hover {filter:grayscale(0);}
.block_tooltip {
  position: absolute;
  top: 25px;
  left: 10px;
  opacity:.5;
}

.block_tooltip:hover {opacity: 1;}
/* End Popovers */


/* Making the layout responsive */
#list_crawlers td:nth-child(3), #stderr_tail, #stdout_tail {word-wrap: anywhere;}
@media screen and (max-width:1680px) {
    #sidebar-container .list-group-mine .list-group-item {padding: 0.75rem 0.25rem; }
    #sidebar-container .valid-icon, #sidebar-container .sidemenu-items span.fa {margin-right:0px!important;}
}
@media screen and (max-width:1390px) {
    #sidebar-container.sidebar-expanded {
        width: 85px;
        flex: 0;
    }
    #sidebar-container ul li.list-group-item {display:none !important;}
    #sidebar-container .sidemenu-items {flex:0;}
    #sidebar-container span.menu-collapsed {
        display: none;
    }
    #sidebar-container a .md-2 {padding: 0;}
    #sidebar-container #createButton {width: 85px !important; font-size: .9rem;}
}
/* End making the layout responsive */


/* scheduler */
.calendar-monthly {
    display: none;
    column-gap: 15px;
    row-gap: 15px;
    height: calc(100vh - 148px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-cell {
    display: inline-grid;

}

.no-current-month {
    color: lightgray;
}

.calendar-cell-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.calendar-yearly {
    display: none;
    column-gap: 25px;
    row-gap: 25px;
    height: calc(100vh - 148px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.calendar-yearly-month {
    display: none;
    column-gap: 5px;
    row-gap: 5px;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-top: 15px;
}

.calendar-weekly {
    display: none;
}

.calendar-weekly-weekdays {
    column-gap: 5px;
    row-gap: 5px;
    /* height: 100%; */
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: -112px;
    position: fixed;
    z-index: 100;
    background-color: white;
}

.calendar-weekly-days {
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 82px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(24, 1fr);
    margin-top: 182px;
}

.calendar {
    margin-top: 82px;
    display: none;
}

.float-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.toast {
    position: fixed;
    top: 164px;
    right: 15px;
}

.weekday {
    cursor: pointer;
    width: 36px;
    height: 35px;
    padding-bottom: 2px;
}

.scheduling-detail-options {
    width: 2em;
    height: 2em;
}

a.scheduling-detail-options:hover {
    text-decoration: none;
}

/* end of scheduler */