appdirs==1.4.4
certifi==2021.5.30
chardet==4.0.0
entry-probing==0.1
filelock==3.0.12
idna==2.10
importlib-metadata==2.1.1
kafka-python==2.0.2
param-injector==0.1
pkg-resources==0.0.0
pyee==8.1.0
pyppeteer==0.2.5
python-dateutil==2.8.1
range-inference==0.1
redis==3.5.3
requests==2.25.1
requests-file==1.5.1
six==1.16.0
tldextract==3.1.0
tqdm==4.61.0
urllib3==1.26.5
websockets==8.1
zipp==3.4.1
