body {
    background-color: #FFF;
}

#globalContainer{
    width: 1000px;
}

div {
    line-height: 30px;
}

.actionContainer {
 padding-bottom: 10px;
}

.clickableSpan {
    line-height: 30px;
    cursor: pointer;
    width: 100%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    width: 700px;
    overflow: auto;
    padding: 10px 0;
}

.tableWrapperScrollY {
    display: block;
}

.row {
    padding: 10px 0px;
}

.manageSteps{
    padding: 20px 0 0 0;
}

.indent{
    border-left: solid gray;
    height: 100%;
    padding-left: 5px;
    float: left;
}

.stepContainer{
    border-top: 1px groove gray;
}

.infoContainer{
    border-top: 1px dotted gray;
}