{% load crispy_forms_tags %}

<div id="antiblock-item-block" class="block" hidden>
    <div class="row" style="padding:20px;">
        <div class="col md-6">
            <div id="antiblock-delay-div" class="border-bottom">
                <div class="antiblock-wrapper mb-3">
                    {{ form.antiblock_download_delay | as_crispy_field}}
                </div>
                
                <div class="antiblock-wrapper mb-3">
                    {{ form.antiblock_autothrottle_enabled | as_crispy_field}}
                </div>

                <div id="autothrottle-options-div" hidden=True>
                    <div>{{form.antiblock_autothrottle_start_delay | as_crispy_field}}</div>
                    <div>{{form.antiblock_autothrottle_max_delay | as_crispy_field}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-0" style="padding:20px;">
        <div class="col md-6">
            <div id="antiblock-mask-div">
                <div class="antiblock-wrapper mb-3">
                    {{ form.antiblock_ip_rotation_enabled | as_crispy_field }}                                        
                </div>

                <div id="ip-rotation-options-div" {% if not form.antiblock_ip_rotation_enabled.value %} hidden {% endif %}>
                    {{ form.antiblock_ip_rotation_type | as_crispy_field }}
                    
                    <ul class="nav nav-tabs" id="ip-rotation-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tor" data-toggle="tab" href="#ip-nav" role="tab">Tor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="proxies" data-toggle="tab" href="#proxies-nav" role="tab">Proxies</a>
                        </li>
                    </ul>
                    <div class="tab-content border-bottom my-3">
                        <div class="tab-pane show active" id="ip-nav" role="tabpanel" aria-labelledby="tor">
                            {{ form.antiblock_max_reqs_per_ip | as_crispy_field}}
                            {{ form.antiblock_max_reuse_rounds | as_crispy_field}}
                            
                            <small class="text-muted mb-2 d-block">Certifique que o Tor esteja devidamente configurado.</small>
                        </div>
                        <div class="tab-pane " id="proxies-nav" role="tabpanel" aria-labelledby="proxies">
                            {{ form.antiblock_proxy_list | as_crispy_field}}
                        </div>
                    </div>
                </div>

                <div class="antiblock-wrapper mb-3">
                    {{ form.antiblock_user_agent_rotation_enabled | as_crispy_field}}     
                </div>

                <div id="user-agent-rotation-options-div" class="border-bottom my-3" {% if not form.antiblock_user_agent_rotation_enabled.value %} hidden {% endif %}>
                    {{ form.antiblock_reqs_per_user_agent | as_crispy_field}}
                    {{ form.antiblock_user_agents_list | as_crispy_field}}
                </div>
                
                <div class="antiblock-wrapper mb-3">
                    {{ form.antiblock_insert_cookies_enabled | as_crispy_field }}
                </div>

                <div id="insert-cookies-options-div" class="border-bottom my-3" {% if not form.antiblock_insert_cookies_enabled.value %} hidden {% endif %}>
                    {{ form.antiblock_cookies_list | as_crispy_field}}
                </div>

            </div>
            <p class="text-info font-style-bold">* Apenas funcional para coletores estáticos.</p>
        </div>
    </div>
</div>