<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{% block title %}{% endblock%}</title>
    {% block style %}{% endblock%}
</head>

<body>
    <!-- Bootstrap NavBar -->
    <nav class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" width="80" height="30"
                class="d-inline-block align-top" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item"><a class="nav-link" href="#">Monitor <span class="sr-only">(current)</span></a></li> -->
                <li class="nav-item"><a class="nav-link" href="/crawlers">Coletores</a></li>
                <li class="nav-item"><a class="nav-link" href="/new">Novo coletor</a></li>
                <li class="nav-item"><a class="nav-link" href="/crawler_queue">Fila de coletas</a></li>
                <li class="nav-item"><a class="nav-link" href="/scheduler">Agendamento</a></li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ferramentas
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item text-dark" href="/urls_scanning">Sondagem de URLs</a>
                          <a class="dropdown-item text-dark" href="/grouped_crawlers">Grupo de Coletores</a>
                          <a class="dropdown-item text-dark" href="/new_group">Novo Grupo</a>
                        </div>
                      </div>
                </li>
            </ul>
            <span class="navbar-text"><a href="https://github.com/MPMG-DCC-UFMG/C01/wiki" target="_blank"><i class="fa fa-info-circle" aria-hidden="true"></i> Wiki</a></span>
        </div>
    </nav>
    <!-- NavBar END -->

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/steps.js' %}"></script>
    <script src="{% static 'js/navmenu.js' %}"></script>
    <script src="{% static 'js/jquery.formset.widget.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.js"></script>

    {% block js %}
    {% endblock %}
</body>

</html>