{% load crispy_forms_tags %}

<!-- Injection configuration -->
<!-- Parameter injection -->

<div id="{{ injection_type }}-param">
    <br>
    {{ parameter_formset.management_form }}
    {% for subform in parameter_formset.forms %}
        <div class="row">
            <div class="col md-6">
                {% include "main/parameter_handler_config.html" with form=subform %}
            </div>
        </div>
    {% endfor %}
</div>
{% with parameter_formset.empty_form as form %}
    <!-- Base template for parameters -->
    <div class="row" id="base-{{ injection_type }}-param-template">
        <div class="col md-6">
            {% include "main/parameter_handler_config.html" with form=form %}
        </div>
    </div>
{% endwith %}

<!-- Response handling-->
<div id="{{ injection_type }}-response">
    {{ response_formset.management_form }}
    {% for subform in response_formset.forms %}
        <div class="row">
            <div class="col md-6">
                {% include "main/response_handler_config.html" with form=subform %}
            </div>
        </div>
    {% endfor %}
</div>
{% with response_formset.empty_form as form %}
    <!-- Base template for responses -->
    <div class="row" id="base-{{ injection_type }}-response-template">
        <div class="col md-6">
            {% include "main/response_handler_config.html" with form=form %}
        </div>
    </div>
{% endwith %}
