{% load crispy_forms_tags %}

<div class="templated-url-resp-step bordered-bottom-option">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    {% if form.instance.pk %}
        {{ form.DELETE }}
    {% endif %}
    {{ form.handler_type | as_crispy_field }}
    <div class="templated-url-response-params indented-subblock"
         data-option-type="text" hidden>
        {{ form.text_match_value | as_crispy_field }}
    </div>
    <div class="templated-url-response-params indented-subblock"
         data-option-type="http_status" hidden>
        {{ form.http_status | as_crispy_field }}
    </div>
    <div class="templated-url-response-params indented-subblock"
         data-option-type="binary" hidden>
    </div>
    {{ form.opposite | as_crispy_field}}
</div>