{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Agendamento de coletas
{% endblock %}

{% block content %}

<header class="container-fluid pb-3 border-bottom fixed-top bg-white" style="margin-top: 56px; padding-top: 16px;">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center justify-content-start">
            <div class="mr-3">
                <button class="btn" id="previous"><i class="fas fa-chevron-left"></i></button>
                <button class="btn border rounded px-2 font-weight-bold" id="today">Hoje</button>
                <button class="btn" id="next"><i class="fas fa-chevron-right"></i></button>
            </div>
            <h2 class="h4 m-0" id="curr-date">1 de agosto de 2022</h2>
        </div>
    
        <select name="" id="calendar-mode" class="form-control font-weight-bold" style="width: auto;">
            <option value="daily">Dia</option>
            <option disabled title="Available soon!" value="weekly">Semana</option>
            <option disabled title="Available soon!" value="monthly">Mês</option>
            <option disabled title="Available soon!" value="yearly">Ano</option>
        </select>
    </div>
</header>

<main class="mt-3 container-fluid">
    <div class="toast" data-delay="3000">
        <div class="toast-header bg-success">
            <strong class="mr-auto text-white">Notificação</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body font-weight-bold">
            Agendamento realizado com sucesso!
        </div>
    </div>

    <div class="calendar calendar-yearly" id="calendar-yearly">
        <div class="">
            <h3 class="h5 m-0 font-weight-bold text-center">Janeiro</h3>

            <div month="0" class="calendar-yearly-month">
                
            </div>
        </div>
        <div class="">
            <h3 class="h5 m-0 font-weight-bold text-center">Fevereiro</h3>
            <div month="1" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="">
            <h3 class="h5 m-0 font-weight-bold text-center">Março</h3>
            <div month="2" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="">
            <h3 class="h5 m-0 font-weight-bold text-center">Abril</h3>
            <div month="3" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Maio</h3>
            <div month="4" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Junho</h3>
            <div month="5" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Julho</h3>
            <div month="6" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Agosto</h3>
            <div month="7" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Setembro</h3>
            <div month="8" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Outubro</h3>
            <div month="9" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Novembro</h3>
            <div month="10" class="calendar-yearly-month">
            
            </div>
        </div>
        <div class="mt-3">
            <h3 class="h5 m-0 font-weight-bold text-center">Dezembro</h3>
            <div month="11" class="calendar-yearly-month">
            
            </div>
        </div>
    </div>

    <div class="calendar calendar-monthly" id="calendar-monthly">
    </div>

    <div class="calendar calendar-weekly" id="calendar-weekly">
    </div>

    <div class="calendar calendar-daily" id="calendar-daily">
        <h2 class="h4 d-flex mb-3">
            <div class="d-flex align-items-center" style="flex-direction: column;">
                <div class="h6 text-muted">
                    Qua.
                </div>
                <div class="d-flex rounded-circle border align-items-center justify-content-center bg-primary text-white" style="width: 1.9em;height: 1.9em;">
                    3
                </div>
            </div>
        </h2>
        <ul class="text-muted p-0" style="list-style: none;">
            <li class="mt-5">
                <div class="d-flex align-items-center">
                    <span class="mr-3">
                        3 AM
                    </span>
                    <div class="border-bottom" style="display: inline-block;flex: auto;">
                    </div>
                </div>
                <div class="d-flex justify-content-start" style="padding-left: 3.3em; flex-wrap: wrap;">
                </div>
            </li>
        </ul>
    </div>

    <button class="btn border rounded-pill float-btn bg-primary text-white shadow-sm" onclick="open_new_scheduling()">
        <i class="fa fa-plus mr-2 shadow-sm"></i>
        <strong class="font-weight-bold h5">Criar</strong>
    </button>
</main>


<div class="modal fade" id="newScheduling" tabindex="-1" aria-labelledby="newSchedulingLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title font-weight-bold">Agendar coleta</h5>
            </div>
            <div class="modal-body">
                <div id="crawler-selector-wrapper" class="border rounded p-3 bg-light">
                    <label for="crawl-selector" class="font-weight-bold">Coletores: </label>
                    <select class="form-select bg-white" id="crawl-selector" >
                        <option value="" disabled selected>Selecionar coletor...</option>
                        {% for crawl_request in crawl_requests%}
                        <option value="{{ crawl_request.id }}">{{ crawl_request.source_name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="border rounded p-3 mt-3 bg-light">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2" style="flex: 1;">
                            <label for="" class="font-weight-bold">Horário</label>
                            <input type="datetime-local" name="" id="scheduling-time" class="border rounded px-2 py-1">
                        </div>
                        <div class="ml-1" style="flex: 1;">
                            <label for="repeat-crawling-select" class="font-weight-bold">Repetir</label>
                            <select name="" id="repeat-crawling-select" 
                                class="border rounded px-2 bg-white w-100"
                                style="padding-top: 7px; padding-bottom: 7px;"
                                >
                                <option value="no_repeat">Não se repete</option>
                                <option value="daily">Diariamente</option>
                                <option value="weekly">Semanalmente</option>
                                <option value="monthly">Mensalmente</option>
                                <option value="yearly">Anualmente</option>
                                <option disabled title="Available soon!" value="personalized" onclick="open_personalized_crawler_repetition()">Personalizado</option>
                            </select>
                        </div>
                    </div>
                    <span id="scheduling-personalized-repetition-info" 
                        style="display: none;"
                        class="mt-2 small"></span>
                </div>
                
                <div id="crawler-queue-wrapper" class="mt-3 rounded border bg-light p-3">
                    <label for="" class="font-weight-bold">Fila de coletas</label>
                    <select name="" id="crawler_queue_behavior" class="form-control">
                        <option value="wait_on_last_queue_position">Aguardar na última posição da fila</option>
                        <option value="wait_on_first_queue_position">Aguardar na primeira posição da fila</option>
                        <option value="run_immediately">Executar imediatamente</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <div class="">
                    <button type="button" onclick="hide_new_scheduling()" class="btn">Cancelar</button>
                    <button type="button" onclick="valid_new_scheduling()" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="personalizedCrawlerRepetion" tabindex="-1" aria-labelledby="personalizedCrawlerRepetionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 25rem;">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title font-weight-bold">Repetição personalizada</h5>
            </div>

            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <label for="" class="font-weight-bold">A cada</label> 
                    
                    <div class="d-flex justify-content-between ml-auto">
                        <input 
                            type="number" 
                            id="interval-in"
                            min="1"
                            value="1" class="text-center border-left-0 border-right-0 border-top-0 border-bottom mr-3" 
                            style="max-width: 3rem;">
                        <select 
                            name="" 
                            id="repeat-mode-selector" 
                            class="border-left-0 border-right-0 border-top-0 border-bottom bg-white">
                            <option value="daily">Dia</option>
                            <option value="weekly">Semana</option>
                            <option value="monthly">Mês</option>
                            <option value="yearly">Ano</option>
                        </select>
                    </div>
                </div>

                <div id="days-week-repeat-wrapper" class="d-none justify-content-around mt-3">
                    <div id="dwr-0" weekday="0" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">dom.</span>
                    </div>
                    <div id="dwr-1" weekday="1" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">seg.</span>
                    </div>
                    <div id="dwr-2" weekday="2" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">ter.</span>
                    </div>
                    <div id="dwr-3" weekday="3" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">qua.</span>
                    </div>
                    <div id="dwr-4" weekday="4" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">qui.</span>
                    </div>
                    <div id="dwr-5" weekday="5" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">sex.</span>
                    </div>
                    <div id="dwr-6" weekday="6" weekday_active="false" onclick="toggle_weekday_select(this)" class="rounded-circle border text-muted small d-flex align-items-center justify-content-center weekday" >
                    <span class="p-0 m-0">sáb.</span>
                    </div>
                </div>

                <div id="monthly-repeat-wrapper" class="d-none mt-3">
                    <input type="radio" name="montly-repeat" montly_repeat="day-x" id="montly-every-day-x" checked>
                    <label for="montly-every-day-x">
                        Todo dia 
                            <select name="" id="montly-day-x-sel" class="border-left-0 border-right-0 border-top-0 border-bottom bg-white pb-1" style="min-width: 3rem;">
                                <option id="medx-1" value="1">1</option>
                                <option id="medx-2" value="2">2</option>
                                <option id="medx-3" value="3">3</option>
                                <option id="medx-4" value="4">4</option>
                                <option id="medx-5" value="5">5</option>
                                <option id="medx-6" value="6">6</option>
                                <option id="medx-7" value="7">7</option>
                                <option id="medx-8" value="8">8</option>
                                <option id="medx-9" value="9">9</option>
                                <option id="medx-10" value="10">10</option>
                                <option id="medx-11" value="11">11</option>
                                <option id="medx-12" value="12">12</option>
                                <option id="medx-13" value="13">13</option>
                                <option id="medx-14" value="14">14</option>
                                <option id="medx-15" value="15">15</option>
                                <option id="medx-16" value="16">16</option>
                                <option id="medx-17" value="17">17</option>
                                <option id="medx-18" value="18">18</option>
                                <option id="medx-19" value="19">19</option>
                                <option id="medx-20" value="20">20</option>
                                <option id="medx-21" value="21">21</option>
                                <option id="medx-22" value="22">22</option>
                                <option id="medx-23" value="23">23</option>
                                <option id="medx-24" value="24">24</option>
                                <option id="medx-25" value="25">25</option>
                                <option id="medx-26" value="26">26</option>
                                <option id="medx-26" value="26">26</option>
                                <option id="medx-28" value="28">28</option>
                                <option id="medx-29" value="29">29</option>
                                <option id="medx-30" value="30">30</option>
                                <option id="medx-31" value="31">31</option>
                            </select>
                             do mês
                    </label>

                    <br>

                    <input class="mt-1" type="radio" name="montly-repeat" montly_repeat="first-weekday" id="montly-first-weekday">
                    <label for="montly-first-weekday">No(a) primeiro(a)
                        <select name="" id="montly-first-weekday-sel" 
                            class="border-left-0 border-right-0 border-top-0 border-bottom bg-white pb-1">
                            <option id="mfws-0" value="0">domingo</option>
                            <option id="mfws-1" value="1">segunda-feira</option>
                            <option id="mfws-2" value="2">terça-feira</option>
                            <option id="mfws-3" value="3">quarta-feira</option>
                            <option id="mfws-4" value="4">quinta-feira</option>
                            <option id="mfws-5" value="5">sexta-feira</option>
                            <option id="mfws-6" value="6">sábado</option>
                        </select>    
                        do mês
                    </label>

                    <br>
                    <input class="mt-1" type="radio" name="montly-repeat" montly_repeat="last-weekday" id="montly-last-weekday">
                    <label for="montly-last-weekday">
                        No(a) último(a) 
                        <select name="" id="montly-last-weekday-sel" 
                            class="border-left-0 border-right-0 border-top-0 border-bottom bg-white pb-1">
                            <option id="mlws-0" value="0">domingo</option>
                            <option id="mlws-1" value="1">segunda-feira</option>
                            <option id="mlws-2" value="2">terça-feira</option>
                            <option id="mlws-3" value="3">quarta-feira</option>
                            <option id="mlws-4" value="4">quinta-feira</option>
                            <option id="mlws-5" value="5">sexta-feira</option>
                            <option id="mlws-6" value="6">sábado</option>
                        </select>
                        do mês
                    </label>
                </div>
                <hr>
                <div class="d-flex justify-content-between">

                    <label for="" class="font-weight-bold">Término</label>
                    
                    <div class="pr-3">
                        <input type="radio" name="finish-type"  finish_type="never" id="finish-never" checked>
                        <label for="finish-never">Nunca</label>
                        
                        <br>
                        
                        <input type="radio" name="finish-type" finish_type="occurrence" id="finish-ocurrence">
                        <label for="finish-ocurrence">
                            Após 
                            <input type="number" 
                                class="border-left-0 border-right-0 border-top-0 border-bottom text-center"
                                value="1" 
                                min="1"
                                id="finish-occurrence-in"
                                style="width: 3rem;"> 
                            ocorrências    
                        </label>
                        
                        <br>
    
                        <input type="radio" name="finish-type" finish_type="date" id="finish-date">
                        <label for="finish-date">
                            <div class="d-flex" >
                                    Em 
                                    <input type="date" 
                                    name="" 
                                    id="finish-date-in" 
                                    class="border-left-0 border-right-0 border-top-0 border-bottom text-center"
                                    style="max-width: 9rem;"
                                    >
                                </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-end">
                <span class="w-100 font-weight-bold small" id="repetition-info">
                </span>
                <br>
                <div class="">
                    <button type="button" onclick="close_personalized_repetition_modal()" class="btn btn-success">Concluído</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/scheduler/scheduler.js' %}"></script>
<script src="{% static 'js/scheduler/calendar.js' %}"></script>
<script src="{% static 'js/scheduler/services.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
    rel="stylesheet" />
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

{% endblock %}